p a {
	font-weight: 500;
}

.navbar-title {
  font-weight: 600;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show {
  font-weight: 600;
}

@media (min-width: 992px) {
    body.fullcontent:not(.floating):not(.docked) .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(1000px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset page-end] 5fr [screen-end-inset] 1.5em;
    }
}

img {
  border-radius: 8px;
}

img.profile {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-sidebar .about-links {
  display: flex;
  flex-direction: column;
}

.about-links div {
  display: flex;
  margin-bottom: .5em;
}

.about-link {
  font-size: .8em;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 4px;
  border: solid 1px;
  width: 100%;
}

.badges-container {
	display: flex;
	margin-bottom: 1rem;
	flex-wrap: wrap;
	gap: 4px;
}

.badges-container p {
  width: auto;
  margin-bottom: 0rem;
  margin-right: 3px;
}

.badges-container img {
  max-width: 100%;
  margin: 0rem;
}

main li {
  margin-bottom: 0.25rem;
}

main ul {
  padding-left: 1.5rem;
}

pre {
  border-radius: 0;
}

pre.sourceCode {
  border-left: 0.25rem;
  border-left-style: solid;
  padding: 1.5rem;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 0.85rem;
  overflow: visible !important;
}
