body {
  color: black;
}

/* links */
p a {
	font-weight: 500;
  color: rgb(10, 123, 255);
}

p a:hover {
  color: rgb(10, 88, 202);
}

/* p a { */
/* 	font-weight: 500; */
/*   color: rgb(10, 123, 255); */
	/* text-decoration-color: rgba(13, 110, 253, 0.25); */
  /* transition: all 0.2s ease-in-out; */
/* } */

/* p a:hover { */
/*   color: rgb(10, 88, 202); */
/*   text-decoration: underline; */
/* 	text-decoration-color: rgba(13, 110, 253, 1); */
/* } */

/* navbar */
.navbar-title {
  font-weight: 600;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: 600;
  color: black;
}

/* full page layout */
@media (min-width: 992px) {
    body.fullcontent:not(.floating):not(.docked) .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start page-start-inset] 35px [body-start-outset] 35px [body-start] 1.5em [body-content-start] minmax(500px, calc(1000px - 3em)) [body-content-end] 1.5em [body-end] 35px [body-end-outset] 35px [page-end-inset page-end] 5fr [screen-end-inset] 1.5em;
    }
}

/* sidebar */
img.profile {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-sidebar .about-links {
  display: flex;
  flex-direction: column;
}

.about-links div {
  display: flex;
  margin-bottom: .5em;
}

div a.about-link {
  font-size: .8em;
  color: #4e5862;
  text-decoration: none;
  padding: .25em .5em;
  border-radius: 4px;
  border: solid 1px;
  width: 100%;
}

.about-link:hover {
  color: #0d6efd;
}

/* badges */
.badges-container {
	display: flex;
	margin-bottom: 1rem;
	flex-wrap: wrap;
	gap: 4px;
}

.badges-container p {
  width: auto;
  margin-bottom: 0rem;
  margin-right: 3px;
}

.badges-container img {
  max-width: 100%;
  margin: 0rem;
}

/* blockquote */
blockquote {
  color: black !important;
  margin: 0 0 1rem -2rem !important;
  padding: 0 0 0 1.75rem !important;
  border-left: .25rem solid #e5e5e5;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* lists */
main li {
  margin-bottom: 0.25rem;
}

main ul {
  padding-left: 1.5rem;
}

/* pre */ /* configure margins */
pre {
  border-radius: 0;
}

pre.sourceCode {
  border-left: 0.25rem;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 0.85rem;
  overflow: visible !important;
}

